body.body-conteiner{
    font-family: "Roboto", sans-serif;
    background-color: hsl(235, 18%, 26%);
    color:  hsl(234, 29%, 20%)

}

div.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 20%;
    border-radius: 15px;
    width: 800px;
    height: 500px;
}

.content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}


img{
    border-radius: 15px;
    width: 330px;
    background-color: white;
    padding: 10px;    
}

.content h1{
   font-size: 50px;
   margin-top: 50px;
   margin-right: 60px;
}

.text-container{
    font-size: 16px;
    margin: 0 40px;
}   


.text-container ul {
    padding-left: 20px; 
    list-style-type: none;
    margin-bottom: 20px; 
  }
  
  .text-container ul li {
    position: relative;
    margin: 10px;

  }
  
  .text-container ul li::before {
    content: '';
    position: absolute;
    left: -30px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 21px; 
    height: 21px; 
    background-image: url('./assets/images/icon-list.svg');
    background-size: contain; 
    background-repeat: no-repeat;
  }
  
label{
    font-size: 11px;
}

label#email_add{
    margin-right: 55%;
}

label#error_msg{
    visibility: hidden;
}

.form-container p{
    font-size: 11px;
}

form.form-container{
    margin-bottom: 10px;
    line-height: 2;
}

.form-container input{
    width: 390px;
    height: 50px;
    color: hsl(231, 7%, 60%);
    margin-bottom: 10px;
}

.form-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
}

button:hover{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);

}

.form-container.error label#error_msg{ 
    color: tomato;
    visibility: visible;
} 

.form-container.error input{
    border-color: tomato;
    background-color: #FCE9E7;
}

.form-container.error input::placeholder {
    color: tomato;
  }