body{
    font-family: "Roboto", sans-serif;
    background-color: hsl(235, 18%, 26%);
    color:  hsl(234, 29%, 20%)

}

div.container{
    background-color: hsl(0, 0%, 100%);
    margin: 6% 20% 3% 35%;
    border-radius: 20px;
    width: 450px;
    height: 450px;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
}

img{
    margin: 30px 20px;
}

button{
    width: 390px;
    height: 50px;
    margin-top: 30px;
}

button:hover{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);

}
